<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278420690864-p31p8qmunc8o6hkn4ak8cc3p9ggcmnqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278420690864-p31p8qmunc8o6hkn4ak8cc3p9ggcmnqu</string>
	<key>API_KEY</key>
	<string>AIzaSyBhTLkMCMpfLqsZKHJWA7GaEY_oyCxHVtA</string>
	<key>GCM_SENDER_ID</key>
	<string>278420690864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AceEzra.CellChat</string>
	<key>PROJECT_ID</key>
	<string>cell-chat-f0502</string>
	<key>STORAGE_BUCKET</key>
	<string>cell-chat-f0502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278420690864:ios:0a7399b9c04c965e552875</string>
</dict>
</plist>